:root {
  --g1: rgb(0, 234, 222);
  --g2: rgb(236, 64, 164);
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

/*** colour gradient effect ***/

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

/*** Masking effect ***/

.pattern {
  height: 500px;
  width: 500px;
  border: 10px solid coral;
  background-color: black;
  mask: url(#myMask);
  mask-size: 100%;
  mask-repeat: repeat round;
  mask-size: 500px;
}

.el {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  mask-image: url("../../../assets/Seamless-Circuit-Board-Pattern.svg");
  mask-size: 500%;
  mask-repeat: repeat;
  mask-position: center;
}
