:root {
  --g1: rgb(0, 234, 222);
  --g2: rgb(236, 64, 164);
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
}

/*** colour gradient effect ***/

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  
}

.blackoutLayer {
  background-image: url("../../../assets/Raw-Seamless-Circuit-Board-Pattern.png");
  object-fit: fit;
  height: 100vh;
  width: 100vw;
}

/*** tabs styles ***/

.allTabs {
  border: 5px solid red;
  background-color: slategrey;
  position: absolute;
  height: 80%;
  left: 10%;
  top: 10%;
  max-width: fit-content;
}